{% extends 'base-front.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <!-- end:fh5co-header -->
            <div class="fh5co-parallax" style="background-image: url({{ asset('images/home-image-4.jpg')}}" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                            <div class="fh5co-intro fh5co-table-cell animate-box">
                                <h1 class="text-center">About Us</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end: fh5co-parallax -->
            <!-- end:fh5co-hero -->
            <div id="fh5co-team-section">
                <div class="container">
                    <div class="row about">
                        <div class="col-md-12 col-md-offset-0">
                            <img class="img-responsive animate-box" src="{{ asset('images/home-image-3.png')}}" alt="About">
                        </div>
                        <div class="col-md-12 col-md-offset-0 animate-box">
                            <p>
                                When it comes to fat burning, SahtiApp often trumps longer forms of exercise. The form of exercise involves periods of intense exercise alternated with short breaks.

                                Sahti App exercises are very effective, and with a certain level of training from a customer, it can work wonders. However, it isn’t safe for a first-time user of the app.

                            </p>
                            <blockquote>
                                <p></p>
                            </blockquote>
                            <p></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="heading-section text-center animate-box">
                                <h2>Meet Our Trainers</h2>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="team-section-grid animate-box" style="background-image: url(images/trainer-1.jpg);">
                                <div class="overlay-section">
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Body Trainer</span>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                        <p class="fh5co-social-icons">
                                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="team-section-grid animate-box" style="background-image: url(images/trainer-2.jpg);">
                                <div class="overlay-section">
                                    <div class="desc">
                                        <h3>James Smith</h3>
                                        <span>Swimming Trainer</span>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                        <p class="fh5co-social-icons">
                                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="team-section-grid animate-box" style="background-image: url(images/trainer-3.jpg);">
                                <div class="overlay-section">
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Chief Executive Officer</span>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="fh5co-social-icons">
                                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="team-section-grid animate-box" style="background-image: url(images/trainer-4.jpg);">
                                <div class="overlay-section">
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Chief Executive Officer</span>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="fh5co-social-icons">
                                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="team-section-grid animate-box" style="background-image: url(images/trainer-5.jpg);">
                                <div class="overlay-section">
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Chief Executive Officer</span>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="fh5co-social-icons">
                                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="team-section-grid animate-box" style="background-image: url(images/trainer-6.jpg);">
                                <div class="overlay-section">
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Chief Executive Officer</span>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="fh5co-social-icons">
                                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fh5co-programs-section" class="fh5co-lightgray-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="heading-section text-center animate-box">
                                <h2>Our Programs</h2>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="program animate-box">
                                <img src="images/fit-dumbell.svg" alt="Cycling">
                                <h3>Body Combat</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <span><a href="#" class="btn btn-default">Join Now</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="program animate-box">
                                <img src="images/fit-yoga.svg" alt="">
                                <h3>Yoga Programs</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <span><a href="#" class="btn btn-default">Join Now</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="program animate-box">
                                <img src="images/fit-cycling.svg" alt="">
                                <h3>Cycling Program</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <span><a href="#" class="btn btn-default">Join Now</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="program animate-box">
                                <img src="images/fit-boxing.svg" alt="Cycling">
                                <h3>Boxing Fitness</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <span><a href="#" class="btn btn-default">Join Now</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="program animate-box">
                                <img src="images/fit-swimming.svg" alt="">
                                <h3>Swimming Program</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <span><a href="#" class="btn btn-default">Join Now</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="program animate-box">
                                <img src="images/fit-massage.svg" alt="">
                                <h3>Massage</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <span><a href="#" class="btn btn-default">Join Now</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- END fh5co-page -->

    </div>{% endblock %}
