{% extends 'base-back.html.twig' %}

{% block title %}Hello AdminpanelController!{% endblock %}

{% block body %}
    <section class="vh-100 bg-image"
             style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Admin Panel</h2>
                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm">
                                            <a href="/adminpanel/listclient"  class="btn btn-info"> Manage Client</a>

                                        </div>
                                        <div class="col-sm">
                                            <a href="/adminpanel/listcoach"  class="btn btn-success"> Manage Coach</a>

                                        </div>
                                        <div class="col-sm">
                                            <a href="/adminpanel/listnutri" class="btn btn-dark"> Manage Nutristionist</a>

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
