$font-primary: 'Roboto', Arial, sans-serif;
// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #4CB648 !default;
$brand-secondary: #DA1212 !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-lighter: #848484;
$brand-darker: #212121;
$brand-selection-color: $brand-primary;
$brand-body-color: #fcfcfc;
$brand-body-bg: #fff;
$brand-dark: #222831;


$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;



// Mixin
@mixin fh5co-translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

// Template Base

body {
	font-family: $font-primary;
	line-height: 1.8;
	font-size: 16px;
	background: $brand-body-bg;
	color: #848484;
	font-weight: 300;
	overflow-x: hidden;
	&.fh5co-offcanvas {
		overflow: hidden;
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover{
		text-decoration: none !important;
		color: $brand-primary !important;
	}
}
p, ul, ol {
	margin-bottom: 1.5em;
	font-size: 20px;
	color: $brand-lighter;
	// font-weight: 300;
	font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-darker;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 30px 0;
}
figure {
	margin-bottom: 2em;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

#fh5co-header{
	position: relative;
	margin-bottom: 0;
	z-index: 9999999;
}

.fh5co-cover,
.fh5co-hero {
	position: relative;
	height: 800px;
	// font-weight: 300;
	@media screen and (max-width :$screen-sm) {
		height: 700px;
	}
	&.fh5co-hero-2{
		height: 600px;

		.fh5co-overlay{
			position: absolute !important;
			width: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			background: rgba($brand-black,.7);
		}
	}
}
.fh5co-overlay{
	position: absolute !important;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba($brand-black,.3);
}

.fh5co-cover{
	background-size: cover;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		heifght: inherit;
		padding: 3em 0;
	}
	.btn {
		padding: 1em 2em;
		opacity: .9;
		@include border-radius(30px);
	}
	&.fh5co-cover_2{
		height: 600px;
		@media screen and (max-width: $screen-sm) {
			heifght: inherit;
			padding: 3em 0;
		}

	}

	.desc{
		top: 50%;
		position: absolute;
		width: 100%;
		margin-top: -100px;
		z-index: 2;
		color: $brand-white;
		
		@media screen and (max-width: $screen-sm) {
			padding-left: 15px;
			padding-right: 15px;
		}
		h2{
			color: $brand-white;
			// text-transform: uppercase;
			font-size: 55px;
			font-weight: 300;
			margin-bottom: 10px;
			line-height: 60px;
			letter-spacing: 1px;
			@media screen and (max-width: $screen-sm) {
				font-size: 40px;
				line-height: 50px;
			}
		}
		span{
			display: block;
			margin-bottom: 25px;
			// font-weight: 300;
			font-size: 24px;
			letter-spacing: 1px;
			color: rgba($brand-white,.8);
			i{
				color: $brand-secondary;
			}
			a{
				color: rgba($brand-white,.8);
				
				&:hover,&:focus{
					color: #fff !important;
					// &.btn{
					// 	border: 2px solid #fff !important;
					// 	background: transparent !important;
					// }
				}

				&.fh5co-site-name{
					padding-bottom: 2px;
					border-bottom: 1px solid rgba($brand-white,.7);
				}
			}
		}
	}
}

/* Superfish Override Menu */
.sf-menu {
	margin: 0!important;
}

.sf-menu {
	float: right;
}
.sf-menu ul {
	box-shadow: none;
	border: transparent;
	min-width: 12em; 
	*width: 12em; 
}

.sf-menu a {
	color: rgba(255,255,255,.5);
	padding: .75em 1em!important;
	font-weight: normal;
	border-left: none;
	border-top: none; 
	border-top: none;
	text-decoration: none;
	zoom: 1; 
	font-size: 16px;
	border-bottom: none!important;
	font-weight: 300;

	&:hover,&:focus{
		color: #fff !important;
	}
}
.sf-menu li.active{
	a{
		&:hover,&:focus{
			color: #fff;
		} 
	}
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover  {
	background: transparent;
}
.sf-menu ul li a,
.sf-menu ul ul li a {
	text-transform: none;
	padding: .25em 1em!important;	
	letter-spacing: 1px;
}
.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
	color: $brand-white;
	// text-shadow: 2px 2px 1px rgba(0, 0, 0, .08);
}
.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
	background: transparent;
}


.sf-menu ul li {
	background: transparent;
}
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em;
}
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #ccc; 
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #ccc; 
}
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #ccc;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #ccc;
}

#fh5co-header-section{
	padding:0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.nav-header{
	margin-top: 40px;
	position: relative;
	float: left;
	width: 100%;
	// padding: 5px 30px;
	// background: rgba($brand-black,.8);
	// @include border-radius(7px);
}
#fh5co-logo{
	z-index: 2;
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 900;
	float: left;
	margin-bottom: 0;
	margin-top: 0;
	a{
		position: relative;
		&:after{
		position: absolute;
		content: '';
		top: -5px;
		left: -9px;
		background: $brand-secondary;
		width: 10px;
		height: 10px;
	}
	}
	span{
		padding: 0;
		margin: 0;
		font-weight: 100;
	}

	@media screen and (max-width: $screen-sm) {
		width: 100%;
		float: none;
		text-align: center;
	}

	a{
		color: $brand-white;
		&:hover,&:focus{
			color: $brand-white !important;
		}
	}
	
}

#fh5co-menu-wrap {
	position: relative;
	z-index: 2;
	display: block;
	float: right;
	// margin-top: 22px;
	.sf-menu a {
		// padding: 1em .75em;
	}
}
#fh5co-primary-menu {
	> li {
		> ul {
			li {
				&.active > a {
					color: $brand-primary!important;
				}
			}
		}
		> .sf-with-ul {
			&:after {
				border: none!important;
				@include icomoon();
				position: absolute;
				float: right;
				margin-right: -5px;
				// top: 15px;
				top: 50%;
				margin-top: -7px;
				content: "\e922";
				color: rgba(255,255,255,.5);
			}
		}
		> ul {
			li {
				position: relative;
				> .sf-with-ul {
					&:after {
						border: none!important;
						@include icomoon();
						position: absolute;
						float: right;
						margin-right: 10px;
						top: 20px;
						font-size: 16px;
						content: "\e924";
						color: rgba(0,0,0,.5);
					}
				}
			}
		}
	}	
}
#fh5co-primary-menu .fh5co-sub-menu {
	padding:10px 7px 10px;
	background: $brand-white;
	left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	-moz-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	-ms-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	-o-box-shadow:0 5px 15px rgba(0,0,0,0.15);
	box-shadow:0 5px 15px rgba(0,0,0,0.15);
	> li {
		> .fh5co-sub-menu {
			left: 100%;
		}	
	}
	
}

#fh5co-primary-menu .fh5co-sub-menu:before {
	position:absolute;
	top:-9px;
	left:20px;
	width:0;
	height:0;
	content:'';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
	position:absolute;
	top:-8px;
	left:30px;
	width:0;
	height:0;
	border-right:8px solid transparent;
	border-bottom:8px solid $brand-white;
	border-left:8px solid transparent;
	content:'';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
	top:6px;
	left:100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
	top:7px;
	right:100%;
	border: none!important;
}

.site-header.has-image #primary-menu .sub-menu {
	border-color:#ebebeb;
	-webkit-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	-moz-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	-ms-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	-o-box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	box-shadow:0 5px 15px 4px rgba(0,0,0,0.09);
	&:before {
		display:none;	
	}
}
#fh5co-primary-menu .fh5co-sub-menu a {
	letter-spacing: 0;
	padding:0 15px;
	font-size:18px;
	line-height:34px;
	color: #575757 !important;
	text-transform:none;
	background:none;
	&:hover {
		color: $brand-primary!important;
	}
}

#fh5co-programs-section,
#fh5co-schedule-section,
#fh5co-team-section,
#fh5co-blog-section,
#fh5co-contact{
	padding: 7em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 4em 0;
	}

}
.fh5co-lightgray-section{
	background: rgba($brand-black,.04);
}

.heading-section{
	margin-bottom: 4em;
	h2{
		font-size: 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: relative;
		font-weight: 900;
	}
}


//SERVICES
.program{
	margin-bottom: 4em;
	img{
		color: red;
		width: 70px;
		margin-bottom: 30px;
	}
	h3{
		font-size: 20px;
	}
	&.program-schedule{
		margin-bottom: 2em;
		padding: 40px;
		background: $brand-white;
		@include border-radius(4px);
		@include transition(.3s);
		img{
			width: 40px !important;
		}
		h3{
			margin-bottom: 0;
		}
		small{
			display: block;
			font-size: 12px;
		}
		&:hover, &:focus{
			-webkit-box-shadow: 0px 6px 55px -23px rgba(0,0,0,0.72);
			-moz-box-shadow: 0px 6px 55px -23px rgba(0,0,0,0.72);
			box-shadow: 0px 6px 55px -23px rgba(0,0,0,0.72);
		}
	}
}

// SCHEDULE
.schedule{
	padding: 0;
	margin: 0 0 40px 0;
	li{
		@include inline-block;
		font-size: 16px;
		a{
			color: rgba($brand-black,.5);
			padding: 5px 20px;
			cursor: pointer;
			&:active, &:focus {
				text-decoration: none;
			}
			&.active{
				background: $brand-primary;
				color: $brand-white !important;
				@include border-radius(30px);
			}
		}
		@media screen and (max-width: $screen-sm) {
	  		@include inline-block;
	  		margin-bottom: 10px;
	  		font-size: 18px;
	  	}
	}
}


.schedule-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	@include transition(.3s);
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

//PARALLAX
.fh5co-table,
.fh5co-table-cell,	 
.fh5co-parallax {
	height: 500px;
}
.fh5co-parallax {
	background-color: #555;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: lighten($brand-black, 0%);
		opacity: .2;
	}
}
.fh5co-parallax {
	@media screen and (max-width: $screen-sm) {
		height: inherit;
		padding: 4em 0;
	}	
	.fh5co-intro {
		h1 {
			color: $brand-white;
			font-size: 70px;
			font-weight: 300;
			margin-bottom: 10px;
			@media screen and (max-width: $screen-sm) {
				font-size: 30px;
			}
		}
		p {
			color: $brand-white;
			a {
				color: $brand-white;
				border-bottom: 2px solid rgba(255,255,255,.2);
				&:hover {
					color: $brand-white;
				}
			}
		}
		&.box-area{
			padding: 40px;
			background: rgba($brand-dark,1);
		}
	}
}
.fh5co-table {
	display: table;
}
.fh5co-table-cell {
	display: table-cell;
	vertical-align: middle;
}

// PRICING
.fh5co-pricing{
	padding: 7em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
	.pricing{
		display: block;
		float: left;
		margin-bottom: 30px;
	}
	.price-box {
		text-align: center;
		padding: 30px;
		background: $brand-white;
		@include border-radius(5px);
		margin-bottom: 40px;
		position: relative;
		

		&.popular{
			.btn-select-plan{
		    	background: $brand-primary;
		   }
		   .price {
		   	color: $brand-primary;
		   }
		}

	    .btn-select-plan{
	    	padding: 10px 20px;
	    	background: $brand-info;
	    	color: $brand-white;

	    }

	    .classes{
	    	padding: 0;
	    	li{
	    		display: block;
	    		list-style: none;
	    		margin: 0;
	    		font-size: 16px;
	    		padding: 8px 10px;
	    		
	    		&.color{
	    			background: rgba($brand-black,.04);
	    		}
	    	}
	    }
	}
	.pricing-plan {
		margin: 0 0 50px 0;
		padding: 0;
		font-size: 13px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 700;
		color: #888f94;

		&.pricing-plan-offer{
			margin-bottom: 24px;
		}

		span{
			display: block;
			margin-top: 10px;
			margin-bottom: 0;
			color: #d5d8db;
		}
	}
	.price {
		font-size: 72px;
		color: #6d6d6d;
		line-height: 50px;
		.currency {
			font-size: 30px;
			top: -0.9em;
			padding-right: 10px;
		}
		small {
			font-size: 13px;
			display: block;
			text-transform: uppercase;
			color: #888f94;
		}
	}
}

// Team Section
.team-section-grid{
	position: relative;
	background-size: cover;
	height: 450px;
	margin-bottom: 30px;
	overflow: hidden;
	.overlay-section{
		position: absolute;
		top: 0;
		bottom: -450px;
		left: 0;
		right: 0;
		opacity: 0;
		background: rgba($brand-black,.5);
		@include transition(.6s);
		h3{
			color: $brand-white;
			margin-bottom: 10px;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		span{
			display: block;
			margin-bottom: 15px;
		}
		p{
			color: rgba($brand-white,.7);
			&.fh5co-social-icons{
				a{
					&:hover, &:focus{
						text-decoration: none !important;
					}
				}
				i{
					font-size: 40px;
					color: $brand-white;
				}
			}
		}
		span{
			color: $brand-white;
			display: block;
		}
		.desc{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 30px;
			// height: 300px;
		}
	}
	&:hover{
		.overlay-section{
			bottom: 0;
			opacity: 1;
		}
	}
}

//ABOUT
.about{
	padding-bottom: 5em;
	img{
		margin-bottom: 50px;
	}
}


#fh5co-contact {
	.contact-info{
		margin: 0;
		padding: 0;
		li{
			// font-size: 16px;
			list-style: none;
			margin: 0 0 20px 0;
			position: relative;
			padding-left: 40px;

			i{
				position: absolute;
				top: .3em;
				left: 0;
				font-size: 22px;
				color: rgba($brand-black,.2);
			}
			a{
				font-weight: 400!important;
				color: rgba($brand-black,.3)
			}
			
		}
	}
	.form-control {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		border: none;
		border: 1px solid rgba(0,0,0,.1);
		font-size: 18px;
		
		font-weight: 400;
		@include border-radius(0px);
		
		&:focus, &:active {
			border-bottom: 1px solid rgba(0,0,0,.5);
		}

	}
	input[type="text"] {
		height: 50px;
	}
	.form-group {
		margin-bottom: 30px;
	}
}

.section-title{
	font-weight: 900;
	text-transform: uppercase;
}

// BLOG
.fh5co-blog{
	margin-bottom: 50px;
	position: relative;
	.inner-post{
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 150px;
		img{
			@include border-radius(4px);
		}
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			position: relative !important;
			height: inherit!important;
			margin-bottom: 30px;
		}
	}
	.desc{
		padding-left: 230px;
		@media screen and (max-width: $screen-sm) {
			padding-left: 0;
		}
		h3{
			font-size: 22px;
			margin-bottom: 10px;
			line-height: 32px;
			a{
				color: rgba($brand-black,.7);
			}
		}
		span{
			display: inline-block;
			margin-bottom: 15px;
			margin-right: 20px;
		}
		&.desc2{
			padding-left: 100px;
			@media screen and (max-width: $screen-sm) {
				padding-left: 0;
			}
		}
	}
	.meta-date{
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px 20px;
		background: $brand-primary;
		@media screen and (max-width: $screen-sm) {
			position: relative;
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}
		p{
			margin: 0;
			display: block;
			color: $brand-white;
			span{
				display: block;
				font-size: 14px;
				@media screen and (max-width: $screen-sm) {
					float: left;
					margin-right: 10px;
					margin-top: 8px;
				}
				&.date{
					font-size: 30px;
					font-weight: 900;
					line-height: 28px;
					@media screen and (max-width: $screen-sm) {
						@include inline-block;	
						float: left;
						margin-right: 10px;
						margin-top: 8px;
					}
				}
			}
		}
	}
}


// Map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}

.fh5co-social-icons {
	> a {
		padding: 4px 10px;
		color: $brand-primary;

		i{
			font-size: 26px;
		}
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $brand-darker;
		}
	}
}

#footer{
	background: $brand-dark;
	padding: 60px 0 40px;
	.section-title{
		color: rgba($brand-white,.8);
	}
	.contact-info{
		margin: 0 0 60px 0;
		padding: 0;
		li{
			
			list-style: none;
			margin: 0 0 20px 0;
			position: relative;
			padding-left: 40px;

			i{
				position: absolute;
				top: 5px;
				left: 0;
				font-size: 22px;
				color: rgba($brand-white,.7);
			}
			a{
				color: rgba($brand-white,.6);
			}
			
		}
	}
	.contact-form{
		.form-group{
			input[type="name"],
			input[type="text"],
			input[type="email"],
			textarea {
				font-size: 16px;
				&::-webkit-input-placeholder {
				    color: rgba(255,255,255,.5);
				}

				&:-moz-placeholder { /* Firefox 18- */
				    color: rgba(255,255,255,.5);  
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				    color: rgba(255,255,255,.5);  
				}

				&:-ms-input-placeholder {  
				   color: rgba(255,255,255,.5);  
				}
			}

			input{
				color: rgba($brand-white,.5);
				background: transparent;
				border: none;
				background: rgba($brand-black,.2);
				box-shadow: none;
			
			}
			textarea{
				color: rgba($brand-white,.5);
				background: transparent;
				border: none;
				background: rgba($brand-black,.2);
				box-shadow: none;
			}
		}
		
		
	}
	#btn-submit {
		color: rgba(255,255,255,.9)!important;
		background: $brand-primary!important;

	}
	.copy-right{
		border-top: 1px solid rgba($brand-white,.1);
		padding-top: 50px;
		margin-top: 50px;
		p{
			color: rgba($brand-white,.3);
			letter-spacing: 1px;
			font-size: 14px;
			text-transform: uppercase;
			a{
				color: rgba($brand-white,.5);
			}
		}
	}
}


.btn {
	@include transition(.3s);
}

.btn {
	text-transform: uppercase;
	letter-spacing: 2px;
	@include transition(.3s);
	&.btn-primary {
		background: $brand-primary;
		color: $brand-white;
		border: none!important;
		border: 2px solid transparent!important;
		&:hover, &:active, &:focus {
			box-shadow: none;
			background: $brand-primary;
			color: $brand-white!important;
		}
	}
	&:hover, &:active, &:focus {
		background: #393e46!important;
		color: $brand-white !important;
		outline: none!important;
	}
	&.btn-default {
		&:hover, &:focus, &:active {
			border-color: transparent;
		}
	}
}

.animate-box {
	.js & {
		opacity: 0;
	}
}



#fh5co-wrapper {
	overflow-x: hidden;
	position: relative;
}
.fh5co-offcanvas {
	overflow: hidden;
	#fh5co-wrapper {
		overflow: hidden!important;
	}
}

#fh5co-page {
	position: relative;
	@include transition(.5s);
	.fh5co-offcanvas & {
		@include fh5co-translateX(-240px);
	}
}

// offcanvas
#fh5co-menu-wrap {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}
#offcanvas-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 99;
	background: #222;
	right: -240px;
	width: 240px;
	padding: 20px;
	overflow-y: scroll!important;
	@media screen and (max-width: $screen-sm) {
		// display: block;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0 0 10px 0;
			list-style: none;
			a {
				font-size: 18px;
				color: rgba(255,255,255,.4);
				&:hover {
					color: $brand-primary;
				}
			}
			> .fh5co-sub-menu {
				margin-top: 9px;
				padding-left: 20px;
			}
			&.active {
				> a {
					color: $brand-primary;
				}
			}
		}
		.fh5co-sub-menu {
			display: block!important;
		}
	}
}



// Burger Menu
.fh5co-nav-toggle {

 
  cursor: pointer;
  text-decoration: none;
  &.active i {
		&::before, &::after {
			background: $brand-white;
		}
  }
  &.dark {
  	&.active i {
			&::before, &::after {
				background: $brand-white;
			}
	  }
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  @include inline-block;
	  width: 30px;
	  height: 2px;
	  color: $brand-white;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: $brand-white;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	  content:'';
		  width: 30px;
		  height: 2px;
		  background: $brand-white;
		  position: absolute;
		  left:0;
		  @include transition(.2s);
	  }
  }
  &.dark {
  	i {
	  	position: relative;
		  color: $brand-black;
		  background: $brand-black;
		  transition: all .2s ease-out;
			 &::before, &::after {
			  background: $brand-black;
			  @include transition(.2s);
		  }
	  }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  	position: absolute;
  	top: 0px;
	right: 0px;
	z-index: 9999;
	display: block;
	margin: 0 auto;
	display: none;
	cursor: pointer;
  	@media screen and (max-width: $screen-sm) {
  		display: block;
  		top: 0px;
  		// margin-top: 2em;
  	}
  
}



// // Helper Class

.col-xxs-12 {
	@media screen and (max-width: 480px) {
		float: none;
		width: 100%;
	}
}

.row-bottom-padded-lg {
	padding-bottom: 7em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}
}
.row-top-padded-lg {
	padding-top: 7em;
	@media screen and (max-width: $screen-sm ) {
		padding-top: 2em;
	}
}
.row-bottom-padded-md {
	padding-bottom: 4em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}	
}
.row-top-padded-md {
	padding-top: 4em;
	@media screen and (max-width: $screen-sm ) {
		padding-top: 2em;
	}	
}
.row-bottom-padded-sm {
	padding-bottom: 2em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}	
}
.row-top-padded-sm {
	padding-top: 2em;
	@media screen and (max-width: $screen-sm ) {
		padding-top: 2em;
	}	
}

.border-bottom {
	border-bottom: 1px solid rgba($brand-black,.06);
}

.lead {
	line-height: 1.8;
}

.no-js #loader { 
	display: none;  
}
.js #loader { 
	display: block; position: absolute; left: 100px; top: 0; 
}
.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/hourglass.svg) center no-repeat #222222;
}
