<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 10px;
            color: #787D80;
            letter-spacing: .1px;
        }

        .container {
            width: 950px;
            margin: auto;
        }

        .filterBar {
            margin: 20px 0px;
        }

        label {
            font-weight: 600;
            text-transform: uppercase;
        }
        table {
            width: 70%;
        }

        th, td {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
        }

        th {
            text-align: left;
            background-color: #F2F2F2;
            color: #65696B;
        }

        tr:nth-child(odd) {
            background: #F9F9F9;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
        }

        tr:nth-child(even) {
            background: #FFF;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
        }

        tr:hover {
            background-color: #EBF5FB;
            cursor: default;
            border: 1px solid #67B2E4;
        }

        .username {
            color: #3498DB;
        }

        .username:hover, a:hover {
            color: #3498DB;
            cursor: pointer;
            text-decoration: underline;
        }

        /* .activeUser {
           color: #03AB61;
        } */

        /* .bannedUser, .suspendedUser {
           font-weight: 600;
        } */
        .bannedUser {
            color: red;
        }

        .suspendedUser {
            color: #FF8C00;
        }

        .commenter {
            color: #9A9DA0;
        }

        .admin, .staff, .moderator {
            font-weight: 600;
        }

        a {
            color: #3498DB;
            text-decoration: none;
        }

        nav {
            padding-left: 20px;
            padding-right: 20px;
            border-bottom: 1px solid #E9E9E9;
        }
        nav ul li {
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
        }

        nav ul li {
            text-align: center;
            padding: 20px 16px;
            text-decoration: none;
        }

        .talk {
            text-transfor: uppercase;
            font-size: 24px;
        }

        .active {
            background-color: #304D6D;
            color: white;
        }

        .roleHead {
            width: 115px;
        }

        .statusHead {
            width: 115px;
        }

        i {
            float: right;
            padding: 0px 15px;
            color: #787D80;
            font-size: 12px;
        }

        td.activeUser:hover, td.suspendedUser:hover, td.bannedUser:hover, td.commenter, td.staff, td.admin, td.moderator {
            cursor: pointer;
        }

        tr.table-header {
            border: 1px solid #BBBEBF;
        }

        .styled-select select {
            background: transparent;
            border: none;
            font-size: 14px;
            font-family: 'Source Sans Pro', sans-serif;
            height: 29px;
            padding: 5px; /* If you add too much padding here, the options won't show in IE */
            width: 100%;
        }

        .styled-select {
            margin-top: 5px;
            width:200px;
            border-radius: 2px;
            border: 1px solid #9A9DA0;
            color: #3B4A53;
        }

        .filter-ui, .search-ui {
            display: inline-block;
        }

        input[type=text] {
            padding: 6px;
            margin-top: 5px;
            font-size: 14px;
            width: 300px;
            border: 1px solid #9A9DA0;
            border-radius: 2px;
        }

        .search-container button {
            padding: 10px 5px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }


        ::-webkit-input-placeholder {
            color: #BBBEBF;
            font-size: 13px;
        }
        ::-moz-placeholder {
            color: #BBBEBF;
            font-size: 13px;
        }
        :-ms-input-placeholder {
            color: #BBBEBF;
            font-size: 13px;
        }
        ::placeholder {
            color: #BBBEBF;
            font-size: 13px;
        }


    </style>

</head>
<body>
<div>

    <nav>
        <ul>
            <li class="talk">SAHHTI gestion coach</li>
            <li class="active">Client table</li>
        </ul>
    </nav>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <nav>
        <ul>
            <li class="active">sahhti@gmail.com</li>
            <li class="active"> +21626262626</li>
            <li class="active"> @2022</li>
            <li></li>

        </ul>
    </nav>
</div>
</body>
</html>
