{% extends 'base-back.html.twig' %}

{% block title %}New Aliment{% endblock %}

{% block body %}
    <h1>Create new Aliment</h1>

    {{ include('aliment/_form.html.twig') }}

    <a href="{{ path('aliment_index') }}">back to list</a>
{% endblock %}
