{% extends 'base-back.html.twig' %}

{% block title %}New Regime{% endblock %}

{% block body %}
    <h1>Create new Regime</h1>

    {{ include('regime/_form.html.twig') }}

    <a href="{{ path('regime_index') }}">back to list</a>
{% endblock %}
